.box {
  padding: var(--spacing-6) var(--spacing-8) var(--spacing-7) var(--spacing-8);
  @media (max-width: 767px) {
    padding: var(--spacing-4) var(--spacing-6) var(--spacing-6) var(--spacing-6);
  }
}

.boxBgColor-yellow {
  background: var(--color-yellow);
  a {
    color: var(--color-midnight);
  }
}

.boxBgColor-peach {
  background: var(--color-peach);
  a {
    color: var(--color-midnight);
  }
}

.boxBgColor-green {
  background: var(--color-green);
  color: var(--color-cream);
  a {
    color: var(--color-cream);
  }
}
