// Add spacing between list items
.cardGrid > div:not(:last-child) {
  margin-bottom: var(--spacing-9);
}

// Remove some of default spacing between list item image and text
.cardGrid > div > div:last-child {
  padding-top: var(--spacing-4);
}

@media (min-width: 768px) {
  // Add alternating layout on desktop
  .reverse > div:nth-child(even) {
    flex-flow: row-reverse;
  }
}
