// Grid
$innerGrid: 4vw;

// Colors
$color-cream: #fffcf4;
$color-midnight: #373737;
$color-red: #ff3234;
$color-peach: #ffcfb5;
$color-green: #3d8858;
$color-yellow: #ffd74b;

// Other
$border-radius: 8px;
