// Globals
body {
  background: var(--color-cream);
  color: var(--color-midnight);
  min-width: 320px;
  vertical-align: baseline;
}

// Links
a {
  color: inherit;
  cursor: pointer;

  &:hover {
    color: var(--color-red);
  }
}

// Helpers
.color--red {
  color: var(--color-red);
}

.color--cream {
  color: var(--color-cream);
}
