// Globals
body {
  background: var(--color-cream);
  color: var(--color-midnight);
  min-width: 320px;
  vertical-align: baseline;
}

// Links
a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

.link {
  color: var(--color-green);
  text-decoration: underline;
  cursor: pointer;

  &:hover {
    text-decoration: none;
  }
}

// SVG
svg {
  max-width: 100%;
}

// Helpers
.color--red {
  color: var(--color-red);
}
