// Globals

html {
  scroll-behavior: smooth;
}

body {
  background: var(--color-cream);
  color: var(--color-midnight);
  min-width: 320px;
  vertical-align: baseline;
  position: relative;
}

// Links
a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

.link {
  color: var(--color-red);
  text-decoration: underline;
  cursor: pointer;

  &:hover {
    text-decoration: none;
  }
}

.link-underline {
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }
}

// SVG
svg {
  max-width: 100%;
  height: auto;
}

// Helpers
.color--red {
  color: var(--color-red);
}

// Divider
hr {
  height: 18px;
  background: var(--color-green);
}

// Animations
@keyframes animate-in-from-bottom {
  0% {
    transform: translateY(15px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes headShake {
  0% {
    transform: translateX(0);
  }

  6.5% {
    transform: translateX(-6px) rotateY(-9deg);
  }

  18.5% {
    transform: translateX(5px) rotateY(7deg);
  }

  31.5% {
    transform: translateX(-3px) rotateY(-5deg);
  }

  43.5% {
    transform: translateX(2px) rotateY(3deg);
  }

  50% {
    transform: translateX(0);
  }
}

// Animation helpers

[data-animate-in] {
  animation: animate-in-from-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
}

[data-animation-order="1"] {
  animation-delay: 0.15s;
}
[data-animation-order="2"] {
  animation-delay: 0.35s;
}
[data-animation-order="3"] {
  animation-delay: 0.55s;
}
[data-animation-order="4"] {
  animation-delay: 0.25s;
}
[data-animation-order="5"] {
  animation-delay: 0.3s;
}
[data-animation-order="6"] {
  animation-delay: 0.35s;
}
[data-animation-order="7"] {
  animation-delay: 0.4s;
}
[data-animation-order="8"] {
  animation-delay: 0.45s;
}
