body {
  background: $color-cream;
  color: $color-midnight;
  font-family: "Walsheim", sans-serif;
}

// Default flow
// https://24ways.org/2018/managing-flow-and-rhythm-with-css-custom-properties/
.flow {
  --flow-space: 2em;
}

.flow > * + * {
  margin-top: var(--flow-space);
}
