@import "utils/fluidtype";

@font-face {
  font-family: "Walsheim";
  font-style: normal;
  font-weight: normal;
  src: url("/fonts/GT-Walsheim-Pro-Regular.woff2") format("woff2"),
    url("/fonts/GT-Walsheim-Pro-Regular.woff") format("woff");
}

@font-face {
  font-family: "Walsheim";
  font-style: normal;
  font-weight: bold;
  src: url("/fonts/GT-Walsheim-Pro-Medium.woff2") format("woff2"),
    url("/fonts/GT-Walsheim-Pro-Medium.woff") format("woff");
}

// Fluid typography
$minWidth: 320px;
$maxWidth: 1440px;

body {
  font-family: "Walsheim", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.45;
  @include fluid-type($minWidth, 1000px, 18px, 24px);
}

h1,
.h1,
.text-large {
  @include fluid-type($minWidth, $maxWidth, 36px, 75px);
  font-weight: bold;
}

h2,
.h2,
.text-medium {
  @include fluid-type($minWidth, $maxWidth, 28px, 42px);
  font-weight: bold;
}

h3,
.h3 {
  @include fluid-type($minWidth, 1000px, 20px, 26px);
  font-weight: bold;
}

.text-normal {
  @include fluid-type($minWidth, 1000px, 18px, 24px);
}

.text-button {
  @include fluid-type($minWidth, 1000px, 20px, 26px);
  font-weight: bold;
}

.text-caption {
  @include fluid-type($minWidth, 1000px, 16px, 20px);
}
