@import "utils/fluidtype";

@font-face {
  font-family: "Walsheim";
  font-style: normal;
  font-weight: normal;
  src: url("/fonts/GT-Walsheim-Pro-Regular.woff2") format("woff2"),
    url("/fonts/GT-Walsheim-Pro-Regular.woff") format("woff");
}

/* test */
@font-face {
  font-family: "Walsheim";
  font-style: normal;
  font-weight: bold;
  src: url("/fonts/GT-Walsheim-Pro-Medium.woff2") format("woff2"),
    url("/fonts/GT-Walsheim-Pro-Medium.woff") format("woff");
}

body {
  font-family: "Walsheim", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 24px;
  line-height: 1.45;
}

// Fluid typography
$minWidth: 320px;
$maxWidth: 1440px;

body {
  @include fluid-type($minWidth, 1000px, 18px, 24px);
}

h1,
.h1 {
  font-size: 75px;
  font-weight: bold;
}

h2,
.h2 {
  font-size: 42px;
  font-weight: bold;
}

.intro {
  font-size: 42px;
}

h2,
.h2 {
  @include fluid-type($minWidth, $maxWidth, 28px, 42px);
}
