// Global variables
:root {
  // Colors
  --color-cream: #fffcf4;
  --color-midnight: #373737;
  --color-red: #f45338;
  --color-red-light: #f6755f;
  --color-peach: #ffeee5;
  --color-green: #62a578;
  --color-yellow: #ffd74b;

  // Spacing
  --spacing-1: 4px;
  --spacing-2: 8px;
  --spacing-3: 12px;
  --spacing-4: 16px;
  --spacing-5: 24px;
  --spacing-6: 32px;
  --spacing-7: 40px;
  --spacing-8: 56px;
  --spacing-9: 64px;
  --spacing-10: 80px;
  --spacing-11: 120px;

  // Animations
  --transition: 0.2s cubic-bezier(0, 0, 0.3, 0.9);
  --transition-quick: 0.1s cubic-bezier(0, 0, 0.3, 0.9);

  // Settings
  --page-width-max: 1340px;
  --page-width-limited: 800px;
  --page-gutter: 40px;
  --grid-gutter: 32px;
  --border-radius: 5px;

  @media (max-width: 600px) {
    --page-gutter: 16px;
  }
}
