.sticky {
  position: sticky;
  bottom: 0;
  background: var(--color-peach);
  max-width: var(--page-width-limited);
  margin: 0 auto;
  padding: var(--spacing-4) var(--spacing-8) var(--spacing-3) var(--spacing-8);
  @media (max-width: 767px) {
    padding: var(--spacing-2) var(--spacing-4) var(--spacing-2) var(--spacing-4);
  }
}

// Offset anchor since we have a sticky header
.anchor {
  position: relative;
  top: -160px;
  visibility: hidden;

  @media (max-width: 767px) {
    top: -130px;
  }
}

.cartLink {
  background: var(--color-peach);
  display: block;
  text-decoration: none;
  &:hover {
    text-decoration: none;
    > span {
      transform: translateY(8px);
    }
  }
}

.arrowDown {
  color: var(--color-red);
  display: inline-block;
  margin-left: var(--spacing-4);
  position: relative;
  transition: var(--transition);
}

.shoppingCart {
  background: var(--color-peach);
  max-width: var(--page-width-limited);
  margin: 0 auto;
  padding: var(--spacing-2) var(--spacing-8) var(--spacing-8) var(--spacing-8);
  @media (max-width: 767px) {
    padding: var(--spacing-2) var(--spacing-4) var(--spacing-6) var(--spacing-4);
  }
}

.totalPrice {
  padding-top: var(--spacing-3);
  margin-top: var(--spacing-3);
  border-top: 1px solid var(--color-midnight);
  max-width: 400px;
}
