.header {
  padding: 1px 0; // Needed to give space for section margins
  position: sticky;
  top: 0;
  background: var(--color-cream);
  // box-shadow: 0 -10px 15px var(--color-midnight);
}

.logoWrap {
  width: 150px;
  will-change: transform;

  svg path {
    transition: var(--transition);
  }

  &-animated {
    animation: spin 800ms ease-in-out;
    svg path {
      fill: var(--color-red);
    }
  }

  &:hover {
    svg path {
      fill: var(--color-red);
    }
  }
}

.navListItem {
  display: inline-block;
  padding-left: var(--spacing-6);
}

@keyframes spin {
  100% {
    transform: rotate(1080deg);
  }
}
