.header {
  padding: 1px 0; // Needed to give space for section margins
  background: var(--color-cream);
  line-height: 0.7; // Trying to align bottom of links and logo

  // Sticky
  position: sticky;
  top: 0;
  z-index: 9;

  @media (max-width: 767px) {
    display: none;
  }
}

.logoWrap {
  width: 150px;
  will-change: transform;

  svg path {
    transition: var(--transition);
  }

  &:hover {
    svg path {
      fill: var(--color-red);
    }
  }
}

.navListItem {
  display: inline-block;
  padding-left: var(--spacing-6);
  font-weight: bold;
}

// Mobile menu

.headerMobileWrap {
  padding: 16px var(--page-gutter);
  background: var(--color-cream);

  // Sticky
  position: sticky;
  top: 0;
  z-index: 9;

  @media (min-width: 768px) {
    display: none;
  }
}

.headerMobile {
  background: var(--color-red);
  color: var(--color-cream);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9;
  text-align: center;
  padding: 16px var(--page-gutter);
  font-size: 22px;
  line-height: 2;
}

.logoWrapMobile {
  display: block;
  width: 80px;
  line-height: 1;
}

.logoWrapMobileBar {
  display: inline-block;
  width: 80px;
}

.mobileFlex {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-weight: bold;
}

.some a {
  margin-right: var(--spacing-4);

  &:hover {
    opacity: 0.8;
  }
}

.menuButton {
  position: absolute;
  right: var(--page-gutter);
  top: 16px;
  z-index: 99;
}

.menuButtonText {
  margin-right: 12px;
  display: inline-block;
  font-weight: bold;
}

.headerShadow {
  height: 10px;
  position: sticky;
  top: 65px;
  box-shadow: 0 -13px 15px var(--color-midnight);
  background: var(--color-cream);
  z-index: 7;
  @media (max-width: 767px) {
    display: none;
  }
}

.headerBox {
  height: 10px;
  position: relative;
  background: var(--color-cream);
  z-index: 8;
  @media (max-width: 767px) {
    display: none;
  }
}

.headerShadowMobile {
  height: 10px;
  position: sticky;
  top: 50px;
  box-shadow: 0 -13px 15px var(--color-midnight);
  background: var(--color-cream);
  z-index: 7;
  @media (min-width: 768px) {
    display: none;
  }
}

.headerBoxMobile {
  height: 10px;
  position: relative;
  background: var(--color-cream);
  z-index: 8;
  @media (min-width: 768px) {
    display: none;
  }
}
