.header {
  padding: 1px 0; // Needed to give space for section margins
  // position: sticky;
  // top: 0;
  background: var(--color-cream);
  z-index: 1;
  // box-shadow: 0 -10px 15px var(--color-midnight);
}

.logoWrap {
  width: 150px;
  will-change: transform;

  svg path {
    transition: var(--transition);
  }

  &:hover {
    svg path {
      fill: var(--color-red);
    }
  }
}

.navListItem {
  display: inline-block;
  padding-left: var(--spacing-6);
}

@keyframes spin {
  100% {
    transform: rotate(1080deg);
  }
}
