.button {
  border: 3px solid var(--color-red);
  border-radius: var(--border-radius);
  background-color: var(--color-peach-light);
  color: var(--color-red);
  display: inline-block;
  padding: var(--spacing-3) var(--spacing-7);
  text-decoration: none;
  transition: var(--transition-quick);
  font-weight: bold;
  cursor: pointer;

  &:hover {
    background-color: var(--color-cream);
  }

  &-primary {
    background-color: var(--color-red);
    color: var(--color-cream);

    &:hover {
      background-color: var(--color-red-light);
      border-color: var(--color-red-light);
    }
  }
}
