.button {
  border: 3px solid var(--color-red);
  border-radius: var(--border-radius);
  background-color: var(--color-peach-light);
  color: var(--color-red);
  display: inline-block;
  padding: var(--spacing-3) var(--spacing-7);
  text-decoration: none;
  transition: var(--transition-quick);
  cursor: pointer;

  &:hover,
  &:disabled {
    background-color: var(--color-cream);
    text-decoration: none;
  }

  &-primary {
    background-color: var(--color-red);
    color: var(--color-cream);

    &:hover,
    &:disabled {
      background-color: var(--color-red-light);
      border-color: var(--color-red-light);
    }
  }

  &-menu {
    background-color: var(--color-red);
    color: var(--color-cream);
    border-color: var(--color-cream);
    padding: var(--spacing-2) var(--spacing-6);

    &:hover,
    &:disabled {
      background-color: var(--color-red-light);
    }
  }
}
