.button {
  border: 3px solid var(--color-red);
  border-radius: var(--border-radius);
  background-color: var(--color-peach);
  color: var(--color-red);
  display: inline-block;
  padding: var(--spacing-3) var(--spacing-7);
  text-decoration: none;
  transition: var(--transition-quick);
  cursor: pointer;
  text-align: center;

  &:hover,
  &:disabled {
    background-color: var(--color-cream);
    text-decoration: none;
  }

  &-primary {
    background-color: var(--color-red);
    color: var(--color-cream);

    &:hover,
    &:disabled {
      background-color: var(--color-red-light);
      border-color: var(--color-red-light);
    }
  }

  &-menu {
    background-color: var(--color-red);
    color: var(--color-cream);
    border-color: var(--color-cream);
    padding: var(--spacing-2) var(--spacing-6);

    &:hover,
    &:disabled {
      background-color: var(--color-red-light);
    }
  }
}

.error-shake {
  animation-duration: 500ms;
  animation-iteration-count: 1;
  animation-name: headShake;
  animation-timing-function: ease-in-out;
}

@keyframes headShake {
  0% {
    transform: translateX(0);
  }

  6.5% {
    transform: translateX(-6px) rotateY(-9deg);
  }

  18.5% {
    transform: translateX(5px) rotateY(7deg);
  }

  31.5% {
    transform: translateX(-3px) rotateY(-5deg);
  }

  43.5% {
    transform: translateX(2px) rotateY(3deg);
  }

  50% {
    transform: translateX(0);
  }
}
