.footer {
  position: relative;

  &-frontpage {
    margin-top: -330px;

    @media (max-width: 767px) {
      margin-top: 0;
    }
  }
}

.footerImage {
  display: block;
  mix-blend-mode: multiply;
  margin: 0 auto -70px;
}

.some a {
  margin-right: var(--spacing-4);

  &:hover {
    opacity: 0.8;
  }
}
