.footer {
  position: relative;

  // &-frontpage {
  //   margin-top: -330px;

  //   @media (max-width: 767px) {
  //     margin-top: 0;
  //   }
  // }
}

.footerImage {
  display: block;
  margin: 0 auto -7vw;

  @media (min-width: 1400px) {
    margin-bottom: -100px;
  }
}

.some a {
  margin-right: var(--spacing-4);

  &:hover {
    opacity: 0.8;
  }
}
