.grid {
  display: flex;
  margin: calc(var(--grid-gutter) * -1) 0 0 calc(var(--grid-gutter) * -1);

  // Breakpoint
  @media (max-width: 767px) {
    display: block;
    flex-flow: row; // Revert any inverted flow
  }
}

.gridItem {
  flex: 1;
  padding: calc(var(--grid-gutter) * 1) 0 0 calc(var(--grid-gutter) * 1);
}
