.inputWrap {
  margin-bottom: var(--spacing-5);
}

.label {
  display: block;
  margin-bottom: var(--spacing-1);

  &-error {
    color: var(--color-red);
  }
}

.input {
  border-radius: var(--border-radius);
  border: 2px solid var(--color-midnight);
  width: 36ch;
  max-width: 100%;
  padding: var(--spacing-2) var(--spacing-3);

  &-error {
    border-color: var(--color-red);
  }
}
