.inputWrap {
  margin-bottom: var(--spacing-5);
}

.label {
  display: block;
}

.input {
  border-radius: var(--border-radius);
  width: 30ch;
  max-width: 100%;
  padding: var(--spacing-2) var(--spacing-3);
}
