.number {
  display: inline-block;
  background: var(--color-peach);
  color: var(--color-red);
  width: 2em;
  height: 2em;
  line-height: 2em;
  font-size: 40px;
  text-align: center;
  border-radius: 50%;
}
